{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static "blog/css/main.css" %}">
    <title>NurbekTech | {{title}}</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="{% url "home" %}">NurbekTech</a>
                </div>
                <nav class="nav">
                    {% block mainmenu %}
                        {% for m in menu %}
                            <a href="{% url m.url_name %}" class="nav__link">{{m.title}}</a>
                        {% endfor %}
                    {% endblock mainmenu %}
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>
</html>