{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "blog/style/main.css" %}">
    <link rel="shortcut icon" href="{% static "blog/images/logo_ico.ico" %}" type="image/x-icon">
    <title>NurbekTech</title>
</head>
<body>
    {% comment %} HEADER START {% endcomment %}
    <header class="header">
        <div class="container">
            <div class="header-nav">
                <a href="{% url 'home'%}" class="logo">NurbekTech</a>
                <nav class="nav">
                    {% block mainmenu %}
                    <ul class="nav-list">
                        {% for m in menu %}
                        <li class="nav-item"><a href="{% url m.url_name %}" class="nav-link">{{m.name}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endblock mainmenu %}
                </nav>
            </div>
        </div>
    </header>    
    {% comment %} HEADER END {% endcomment %}

    <main class="main">
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>
</html>