@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    font-family: "Roboto Mono", monospace;
}

.container {
    max-width: 940px;
    padding: 0 30px;
    margin: 0 auto;
}

.header {
    padding-top: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.nav-list {
    display: flex;
    column-gap: 40px;

}

.nav-link {
    color: #000;
}